
.navbar-theme_gray {
    background: $clouds;
}

.mdl-layout__header-row {
    .link-color_darken {
        color: $darken;
        font-weight: 600;
        @include transition(0.2s);
        &:hover {
            background: darken($clouds, 5%);
        }


    }

    .link-color_white {
        color: #fff;
        font-weight: 600;
    }

    .link-background_blue {
        background: $peter-river;
        &:hover {
            background: darken($peter-river, 5%);
        }
    }


}
