/* 62px */
/* 52px */
/* 40px */
/* 29px */
/* 28px */
/* 24px */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(../fonts/OpenSans-Light.ttf) format("truetype");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 408;
  src: local("Open Sans"), local("OpenSans"), url(../fonts/OpenSans.ttf) format("truetype");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(../fonts/OpenSans-Semibold.ttf) format("truetype");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(../fonts/OpenSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: 'Alte Haas';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/AlteHaasGroteskBold.ttf) format("truetype");
}
@font-face {
  font-family: 'Alte Haas';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/AlteHaasGroteskRegular.ttf) format("truetype");
}
/*
    Example usage:
    @include animation(10s, 5s, changecolour)
 */
@-ms-viewport {
  width: device-width;
}
/* line 2, ../../src/scss/base/_config.scss */
body {
  color: #34495e;
  font-family: "Alte Haas", "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.231;
  font-weight: 400;
}
/* line 8, ../../src/scss/base/_config.scss */
body .form-control {
  font-weight: 500;
}
/* line 11, ../../src/scss/base/_config.scss */
body .clearfix {
  clear: both;
}

/* line 2, ../../src/scss/partials/_navbar.scss */
.navbar {
  background: #ecf0f1;
  box-shadow: none;
  border-bottom: 1px solid #dde4e6;
  position: fixed;
  z-index: 100;
}
/* line 8, ../../src/scss/partials/_navbar.scss */
.navbar .logo {
  height: 35px;
  margin: 15px 0px 0px 10px;
}
/* line 13, ../../src/scss/partials/_navbar.scss */
.navbar .nav-menu li a {
  font-family: 'Roboto', Helvetica;
  color: #2e2e2e;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
}

/* line 1, ../../src/scss/partials/_page.scss */
.bg-teal {
  background-color: #009688;
}

/* line 5, ../../src/scss/partials/_page.scss */
.bg-cyan {
  background-color: #00BCD4;
}

/* line 8, ../../src/scss/partials/_page.scss */
.bg-indigo {
  background-color: #3F51B5;
}

/* line 11, ../../src/scss/partials/_page.scss */
.bg-blue {
  background-color: #2196F3;
}

/* line 5, ../../src/scss/pages/_intro.scss */
.intro-block {
  position: relative;
}
/* line 7, ../../src/scss/pages/_intro.scss */
.intro-block .composition-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 9, ../../src/scss/pages/_intro.scss */
.intro-block .composition-box .animated-pin {
  position: absolute;
}
/* line 12, ../../src/scss/pages/_intro.scss */
.intro-block .composition-box .sun {
  height: 50px;
  top: 115px;
  left: 320px;
  animation: infinite-spinning 20s infinite linear;
}
/* line 18, ../../src/scss/pages/_intro.scss */
.intro-block .composition-box .cloud1 {
  width: 80px;
  top: -40px;
  left: 20px;
  animation: rl-cloud1 50s infinite ease-in-out;
}
/* line 25, ../../src/scss/pages/_intro.scss */
.intro-block .composition-box .cloud2 {
  width: 70px;
  top: 0px;
  right: 10px;
  animation: rl-cloud2 60s infinite ease-in-out;
}
/* line 31, ../../src/scss/pages/_intro.scss */
.intro-block .composition-box .cloud3 {
  width: 65px;
  top: 120px;
  left: 80px;
  animation: rl-cloud3 70s infinite ease-in-out;
}
/* line 38, ../../src/scss/pages/_intro.scss */
.intro-block .brand-box {
  position: relative;
  margin-bottom: -10px;
  width: 600px;
}
/* line 42, ../../src/scss/pages/_intro.scss */
.intro-block .brand-box .big-logo {
  width: 350px;
  display: block;
  margin: 0 auto;
}
/* line 49, ../../src/scss/pages/_intro.scss */
.intro-block .info-box {
  background-color: #ecf0f1;
  position: relative;
  font-family: 'Roboto', Helvetica, serif;
  padding: 15px 10px;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 56, ../../src/scss/pages/_intro.scss */
.intro-block .info-box li {
  list-style: none;
  display: inline-block;
}
/* line 61, ../../src/scss/pages/_intro.scss */
.intro-block .info-box li span {
  display: block;
}
/* line 64, ../../src/scss/pages/_intro.scss */
.intro-block .info-box .pin-head, .intro-block .info-box .material-icons {
  line-height: 17px;
  font-size: 17px;
  font-weight: 500;
}
/* line 70, ../../src/scss/pages/_intro.scss */
.intro-block .info-box .pin-desc {
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
}
/* line 75, ../../src/scss/pages/_intro.scss */
.intro-block .info-box .row {
  margin: 0;
}

@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rl-cloud1 {
  0% {
    left: 20px;
  }
  50% {
    left: 100px;
  }
  100% {
    left: 20px;
  }
}
@keyframes rl-cloud2 {
  0% {
    right: 10px;
  }
  50% {
    right: 100px;
  }
  100% {
    right: 10px;
  }
}
@keyframes rl-cloud3 {
  0% {
    left: 80px;
  }
  50% {
    left: 120px;
  }
  100% {
    left: 80px;
  }
}
/* line 1, ../../src/scss/pages/_schedule.scss */
.schedule-block {
  padding: 50px 0;
}
/* line 3, ../../src/scss/pages/_schedule.scss */
.schedule-block .main-title {
  font-family: "Roboto";
  font-weight: 300;
  text-align: center;
  font-size: 33px;
  margin-bottom: 1.2em;
}

/* line 11, ../../src/scss/pages/_schedule.scss */
.tabs-panel-wrapper {
  padding-top: 40px !important;
}

/* line 14, ../../src/scss/pages/_schedule.scss */
.schedule-item {
  overflow: hidden;
}
/* line 17, ../../src/scss/pages/_schedule.scss */
.schedule-item .schedule-item-img {
  width: 120px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 9;
  text-align: center;
}
/* line 25, ../../src/scss/pages/_schedule.scss */
.schedule-item .avatar-image {
  width: 120px;
  height: 120px;
  text-align: center;
  border-radius: 50%;
  padding: 5px;
  background-color: #ffffff;
  border: 2px solid #cccccc;
}
/* line 34, ../../src/scss/pages/_schedule.scss */
.schedule-item .schedule-item-info {
  padding: 0 0 0 70px;
  box-sizing: border-box;
}
/* line 38, ../../src/scss/pages/_schedule.scss */
.schedule-item .item-info-inner {
  border-left: 2px solid #cccccc;
  padding: 20px 0 60px 100px;
  z-index: 10;
  box-sizing: border-box;
}
/* line 43, ../../src/scss/pages/_schedule.scss */
.schedule-item .item-info-inner h5 {
  font-size: 1.44em;
  margin-top: 0.2rem;
}
/* line 48, ../../src/scss/pages/_schedule.scss */
.schedule-item .item-info-time {
  font-weight: 300;
  vertical-align: middle;
  color: #2196F3;
}
/* line 52, ../../src/scss/pages/_schedule.scss */
.schedule-item .item-info-time span {
  font-family: inherit;
  font-size: 18px;
  display: inline-block;
  margin-right: 35px;
  margin-left: 5px;
  position: relative;
  top: -6px;
}
/* line 62, ../../src/scss/pages/_schedule.scss */
.schedule-item .schedule-break {
  height: 66px;
  width: 66px;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  padding-top: 18px;
  background: #2196F3;
  border-radius: 50%;
  display: inline-block;
  margin-top: 16px;
}

/* line 2, ../../src/scss/pages/_about.scss */
.about-block .main-title {
  font-family: "Roboto";
  font-weight: 300;
  text-align: center;
  font-size: 33px;
}
/* line 8, ../../src/scss/pages/_about.scss */
.about-block .title {
  font-family: "Roboto";
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}
/* line 14, ../../src/scss/pages/_about.scss */
.about-block .topic-icon {
  display: block;
  text-align: center;
}
/* line 18, ../../src/scss/pages/_about.scss */
.about-block p {
  text-align: center;
}

/* line 1, ../../src/scss/pages/_register.scss */
.register-card {
  width: 100%;
}
/* line 4, ../../src/scss/pages/_register.scss */
.register-card .card-title {
  color: #2e2e2e;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 30px;
}
/* line 11, ../../src/scss/pages/_register.scss */
.register-card .register-banner {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ecf0f1;
}
/* line 19, ../../src/scss/pages/_register.scss */
.register-card .without-bottom-margin {
  margin-bottom: 0;
}
